ul{
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 12px;
}

li{
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

img{
    width: 80px;
    height: 80px;
}